@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/fontawesome-webfont.ttf') format('truetype');
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*  
    https://github.com/rsms/inter
    Inter typeface family
*/

@font-face {
    font-family: 'Inter';
    font-weight: normal;
    font-display: swap;
    src: url("fonts/Inter-Regular.woff2") format("woff2")
}

@font-face {
    font-family: 'Inter';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Inter-Italic.woff2") format("woff2")
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter-Medium.woff2") format("woff2")
}

@font-face {
    font-family: 'Inter';
    font-weight: bold;
    font-display: swap;
    src: url("fonts/Inter-Bold.woff2") format("woff2")
}

body {
    background-color: white;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

code {
    background-color: #eee;
    padding: 0 0.25em;
}

textarea {
    margin-top: 1em;
    font-size: 90%;
}

button.custom {
    padding: 0.8em 1em;
    border: 1px solid transparent;
    border-color: #dee1e6bd;
    cursor: pointer;
    background-color: #dee1e680;
    color: #121212;
    opacity: 0.8;
    transition: background-color background background-image 240ms ease-in-out;
}

button.custom:hover {
    opacity: 1.0;
}

button.custom.important {
    border-color: #ffcc7f #ffcc7f hsl(36, 100%, 73%);
    background-color: hsl(36, 100%, 75%);
    background-image: linear-gradient(#ffdca8, #ffcc7f);
}


button.custom.disabled,
button.custom[disabled],
button.custom.important.disabled,
button.custom.important[disabled] {
    border: 1px solid transparent;
    border-radius: 2px;
    background: #dee1e680 !important;
    opacity: 0.4;
    pointer-events: none;
}

button.custom.iconifiable>.fa {
    padding-right: 0.5em;
}

body[dir="rtl"] button.custom.iconifiable>.fa {
    padding-left: 0.5em;
}

.hidden {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
}

@media (max-width: 640px) {
    button.custom.iconifiable>.fa {
        font-size: 150%;
        padding: 0;
    }

    button.custom.iconifiable>[data-i18n] {
        display: none;
    }
}

.ubo-icon {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    padding: 0.1em;
    position: relative;
}

.ubo-icon>* {
    pointer-events: none;
}

.ubo-icon.disabled,
.disabled>.ubo-icon,
.ubo-icon[disabled],
[disabled]>.ubo-icon {
    color: #000;
    fill: #000;
    opacity: 0.25;
    stroke: #888;
    pointer-events: none;
}

.ubo-icon>svg {
    height: 1em;
    width: 1em;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=checkbox] {
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    background-color: #f0f3f4;
    border: 1px solid #f0f3f4;
    vertical-align: -2px;
    transition: all 140ms ease;
}

input[type=checkbox]:checked {
    border: 3px solid #f0f3f4;
    background: #980000;
}

input[type=checkbox]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
}