html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
@media screen and (max-device-width: 960px) {
    #dashboard-nav {
        zoom: 1.2;
    }
    }
#dashboard-nav {
    border: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#dashboard-nav-widgets {
    align-items: stretch;
    display: flex;
    margin: 0;
    padding: 8px;
    background: #F1F3F4;
    white-space: nowrap;
    }
#dashboard-nav-widgets>span {
    align-items: center;
    display: inline-flex;
    padding: 0 1em 0 1em;
    width: 1.3em;
    }
#dashboard-nav-widgets>span>img {
    width: 100%;
    }
.tabButton {
    background: #dee1e680;
    color: #6e6e6e !important;
    cursor: pointer;
    display: inline-block;
    font-size: 102%;
    margin: 0 0.3em 0 0;
    overflow: hidden;
    padding: 6px 8px 6px 8px;
    position: relative;
    text-decoration: none;
    top: 8px;
    }
.tabButton:hover {
    background: rgba(0, 0, 0, 0.02)
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,
.tabButton:visited {
    color: inherit;
    }
.tabButton.selected {
    background: #FFF;
    color: #5F6368 !important;
    transition: all 140ms ease;
    }
iframe {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    }
#unsavedWarning {
    box-shadow: rgba(128, 128, 128, 0.4) 0 4px 4px;
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 20;
    }
#unsavedWarning.on {
    display: initial;
    }
#unsavedWarning>div:first-of-type {
    background-color: #ffffcc;
    padding: 0.5em;
    }
#unsavedWarning>div:last-of-type {
    height: 100vh;
    position: absolute;
    width: 100vw;
    }
body:not(.canUpdateShortcuts) .tabButton[href="#shortcuts.html"] {
    display: none;
    }
@media (max-width: 640px) {
    #dashboard-nav {
        position: relative;
        }
    .hverbose {
        display: none !important;
        }
    .tabButton {
        font-size: 90%;
        }
}